-i https://pypi.org/simple
annotated-types==0.7.0; python_version >= '3.8'
dnspython==2.7.0; python_version >= '3.9'
email-validator==2.2.0; python_version >= '3.8'
idna==3.10; python_version >= '3.6'
mysql-connector-python==9.2.0; python_version >= '3.9'
pydantic==2.11.1; python_version >= '3.9'
pydantic-core==2.33.0; python_version >= '3.9'
typeguard==4.4.2; python_version >= '3.9'
typing-extensions==4.13.0; python_version >= '3.8'
typing-inspection==0.4.0; python_version >= '3.9'
