[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
flake8 = "<8"
pyyaml = "<7"
coverage = "*"
pytest = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.7"

[hms-core]
mysql-connector-python = "<10"
pydantic = "<3"
email-validator = "<3"
typeguard = "<5"
