[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mysql-connector-python = "<10"
pydantic = "<3"
email-validator = "<3"
typeguard = "<5"

[dev-packages]
flake8 = "<8"
pyyaml = "<7"
pytest = "<9"
coverage = "<8"

[requires]
python_version = "3.11"
