[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
pytest = "<9"
coverage = "<8"
flake8 = "<8"

[requires]
python_version = "3.11"
python_full_version = "3.11.0"

[build]
build = "<2"

[publish]
twine = "<7"
